<div class="container d-flex flex-column justify-content-center aligh-items-center p-5">
  <div class="text-center">
    <h1>Admin Dashboard</h1>
  </div>
  <div class="text-center p-1">
    <%= link_to "Manage Users", admin_index_path, class:"btn btn-success"%>
  </div>
  <div class="text-center p-1">
    <%= link_to "Add Supplier", admin_index_path, class:"btn btn-warning"%>
  </div>
</div>
