<%= form_with model: order , local: true do |f| %>
  <div class="container text-center p-5	cart-table">
    <h1>Order Cart</h1>
    <table class="table table-striped p-5"  id="cart-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Available Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Total Price</th>
          <th scope="col">Location Name</th>
          <th scope="col">Add To Cart</th>
        </tr>
      </thead>
      <tbody>
        <% @cart.each_with_index do |product,index| %>
          <%= render partial: 'orders/cart_row', locals: { product: product } %>
        <% end %>
      </tbody>
    </table>
    <div id="total-price" class="text-center">
      Total Price: <%= @cart.sum(&:price) %>
    </div>
    <%= f.submit 'Place Order', class: 'btn btn-dark m-1' %>
    <hr>
  </div>
<% end %>
