<h1>Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Created At</th>
      <th>Consumer Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at %></td>
        <td>The Don</td>
        <td><%= link_to "View", order_path(order), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center m-5">
  <%= link_to "Create New Order", new_order_path, class: "btn btn-success" %>
</div>
