<div class="col-md-6 text-center">
  <% if resource.image.attached? %>
    <%= image_tag resource.image, class: 'w-50 rounded m-5' %>
  <% else %>
    <%= image_tag '/assets/Image_not_available.png', alt: 'image not available', class: 'w-50 h-75 rounded m-5' %>
  <% end %>
</div>
